.photo-grid {
  margin: auto;
  margin-top: 92px;
  display: grid;
  width: 1184px;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 16px;
}


@media (max-width : 1220px) {
  .photo-grid {
    width: 90%;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
  }
}

@media (max-width : 950px) {
  .photo-grid {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(6, 1fr);
  }
}

@media (max-width : 425px) {
  .photo-grid {
    height: auto;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(12, 1fr);
  }
}