.place__row {
  display: flex;
  flex-direction: row;
  margin-top: 48px;
}

@media (max-width : 650px) {
  .place__row {
    flex-direction: column;
    margin:auto;
    margin-top: 48px;
    width: 100%;
  }
}

