.lead__title {
  margin: auto;
  font-size: 96px;
  line-height: 100px;
  max-width: 720px;
  text-align: center;
  font-weight: bold;
}


@media (max-width : 768px) {
  .lead__title {
    max-width: 80%;
    font-size: 52px;
    line-height: 54px;
  }
}


@media (max-width : 425px) {
  .lead__title {
    max-width: 80%;
    font-size: 40px;
    line-height: 1.15;
  }
}