.footer__links {
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: row;
  margin: 0;
}

@media (max-width : 600px) {

  .footer__links {
    display: block;
    justify-content: space-between;
  }
}