.cover__overlay {
  position: absolute;
  width: 1184px; 
  height: 740px; 
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #2A2C2F; 
  opacity: 0.3;
  z-index: 2;
}

/*.cover__overlay:hover {
  opacity: 0.8;
}*/

@media (max-width : 1280px) {
  .cover__overlay {
    width: 100%;
  }
}


@media (max-width : 768px) {
  .cover__overlay {
    width: 100%;
    height: auto;
  }
}