.cover__background {
  background-image: url(../../../images/cover-trains.jpg);
  width: 1184px;
  height: 740px;
  background-size: cover;
  background-position: center;
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  text-decoration: none;
}


.cover__background::before {
  content:"";
  display: block;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #2A2C2F;
  opacity: 0.3;
}

.cover__background:hover:before {
  opacity: 0.8;
}

@media (max-width : 1279px) {
  .cover__background {
    width: 100%;
  }
}

@media (max-width : 1024px) {
  .cover__background {
    height: 640px;
  }
}

@media (max-width : 768px) {
  .cover__background {
    height: 480px;
  }
}

@media (max-width : 425px) {
  .cover__background {
    height: 200px;
  }
}