.cover__title {
  z-index: 3;
  position: relative;
  text-align: center;
  margin: 0;
  margin-top: 245px;
  font-size: 72px;
  line-height: 76px;
  width: 560px;
  align-self: center;
  text-decoration: none;
  color: #fff;
  font-weight: 900;
}


@media (max-width : 768px) {
  .cover__title {
    line-height: 1.15;
    margin-top: 115px;
  }
}


@media (max-width : 600px) {
  .cover__title {
    font-size: 32px;
    line-height: 35px;
    margin-top: 70px;
    width: 70%;
  }
}


@media (max-width : 425px) {
  .cover__title {
    margin-top: 33px;
    width: 288px;
  }
}