.place__website {
  margin: 0 0 0 40px;
  max-width: 456px;
  display: flex;
  flex-direction: column;
  align-self: flex-end;
}


@media (max-width : 1024px) {
  .place__website {
    max-width: 352px;
    margin: 0 0 0 28px;
  }
}

@media (max-width : 768px) {
  .place__website {
    display: none;
  }
}